body{
	background-color: rgb(132, 132, 132);
}

img{
	width: 100%;
	height: 100%;
}

.header{
	position: relative;
	top:0;
	left: 10%;
	background: linear-gradient(to right, rgb(1, 6, 90), rgb(2, 30, 142), rgb(0, 38, 255));
	width: 80%;
	height: 121px;
}

.logo{
	position: absolute;
	width: 20%;
	height: 80%;
	left:1%;
	top:10%;
}

.titulo{
	position: absolute;
	color:rgb(236, 239, 241);
	width: 50%;
	height: 100%;
	left:25%;
	top:0;
	font-size: 3vw;
	font-size-adjust: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: fantasy;
}

.menu{
	position: relative;
	width: 80%;
	left: 10%;
	top:5px;
	height:50px;
	background: linear-gradient(to right, rgb(1, 6, 90), rgb(2, 30, 142), rgb(0, 38, 255));
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.menu span{
	font-size: 2vw;
	font-size-adjust: auto;
	font-family: fantasy;
}

.submenu{
	position: absolute;
	right:10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width:20%;
	height: 100%;
}

.submenu span{
	padding-left: 20px;
	font-size: 1.5vw;
	font-size-adjust: auto;
	font-family: 'Courier New', Courier, monospace;
}

.submenu span a{
	color: white;
	text-decoration: none;
}

.submenu span a:hover{
	color: rgb(249, 1, 1);
}

.main{
	top:10px;
	position: relative;
	background-color: white;
	height:920px;
	left:10%;
	width: 80%;
}

.tabela{
	position: absolute;
	top:20px;
	background-color: yellow;
	width:70%;
	left: 15%;
}

.tabela table{
	background:gainsboro;
	width: 100%;
	text-align: center;
	border: 3px solid blue;
	font-size: 1.5vw;
	font-size-adjust: auto;
	color: rgb(0, 0, 0);
	border-collapse: collapse;
}

.tabela table td, .tabela table th{
	border: 1px solid rgb(33, 23, 167);
	padding: 10px;
}

.tabela table th{
	color:white;
	background-color: rgb(2, 2, 83);
}

.tabela tr:hover {
    background-color: white;
}

.tabela img{
	width: 40%;
	height: 40%;
}

.footer{
    position:relative;
	width: 80%;
	left:10%;
    background-color: rgb(15, 3, 66);
    display:flex;
    justify-content:space-around;
    align-items: center;
    height:100px;
    color: azure;
    top: 0;
}




 









